.box2{
    width: 1200px;
    background-color: mediumaquamarine;
    margin: 50px auto;
    border-radius: 10px;
    padding: 23px;
}
h1{
    font-size: 48px;
   
}
.red{
    color: red;
}
.orange{
    color: orange;
}
.purple{
    color: purple;
}
h2{
    text-transform: uppercase;
    letter-spacing: 8px;
    
}
ul{
    list-style-type: none;
}
.box2{
    width: 1200px;
    background-color: #8bc34a;
    margin: 50 auto;
    border-radius: 21px;
    padding: 23px;
}
h1{
    font-size: 48px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.red{
    color: red;
}
.orange{
    color: orange;
}
.purple{
    color: purple;
}
h2{
    text-transform: uppercase;
    letter-spacing: 8px;
    
}
ul{
    list-style-type: none;
}
li{
    
margin: 10px;
    
font-size: 20px;
    
    
margin-left: -36px;
    
}
a{
    
text-decoration: none;
    
color: red;
    
background-color: white;
    
    
}    
    margin: 30px;
    font-size: 15px;
}
a{
    
    text-decoration: none;
    color: red;
    background-color: white;
    padding: 10px;
}